@import "bourbon";
@import "typography";

body, html {
  box-sizing: border-box;
}
.row {
  height: 1000px;
  border-top: 1px solid #ccc;
}

.column {
  width: 33%;
  border-right: 1px solid #ccc;
  float: left;
  overflow-y: auto;
  height: 100%;
}

ul {
  list-style: none;
  li a {
    display: inline-block;
    padding: .6em;
  }
}

li .active {
  background-color: #3b69a7;
  color: #FFF;
}

.key {
  font-weight: bold;
}

.request-data {
  li {
    padding: .6em;
  }
}
